<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Where would you like to go?</p>
    <a href = "/flights/new">Book Flight!</a>
    <a href = "/flights">List of Flights!</a>
  </body>
</html>
