body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.btn{
  margin-right:-14px;
}
.table{
  background-color:skyblue;
}
div> .btn {
  margin-top: -4em;
}
.main-screen{
  display: block;
  justify-content: center;
}