<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h2>Enter a New Movie</h2>
        <form action="/flights" method="POST">
            <label>Airline
              <select name="mpaaRating">
                <option value="american">American</option>
                <option value="southwest">SouthWest</option>
                <option value="united">United</option>
              </select>
            <label>FlightNo
              <input type="text" name="title">
            </label><br>
            <label>Departs
              <input type="checkbox" name="departs" checked>
            </label><br>
            <input type="submit" value="Add New Flight">
        </form>
</body>
</html>